form.add_form{
    border: 1px solid red;
    padding: 10px;
    background-color: #66B3BA;
    color: #ffffff;
    margin-bottom: 1rem;
}
.form_control{
    width: 100%;
    margin: 10px 0;

}
.form_control > label{
    /*background: red;*/
    display: block;
    margin-bottom: 10px;
}
.form_control > label.reminder{
    display: inline-block;
}
.form_control > input[type="text"]{
    border: 0;
    padding: 4px 8px;
    border-bottom: 1px solid #c2c2c2;
    width: 95%;
    font-size: 18px;
}
.form_control > input[type="checkbox"]{
    width: 10%;
}
button.btn_add{
    width: 100%;
    margin: 10px 0;
    background-color: #166088;
    color: #ffffff;
}
button.btn_add:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}
